<head>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin="">
  <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&amp;display=swap" rel="stylesheet">
  <link rel="stylesheet" href="styles.css">
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <title>My test page</title>
</head>
<body>
  <b1>Kujyssisi Vebsite</b1>
  <h1>I am a level one heading</h1>

  <p>
      This site contains Kujyssisi-owned assets released for public use.
  </p>

  <p>
    Contact me here 
    <a href="https://discord.gg/RWRvS8dsWd">Discord link to PixelWare</a>.
  </p>

  <ul>
    <button class="favorite styled" type="button">Models-🗃️</button>
    <button class="favorite styled" type="button">Meshes-📦</button>
    <button class="favorite styled" type="button">Scripts-📋</button>
  </ul>
  <img src="images\skull-3d-model-obj-mtl-fbx-ztl-3092010516.jpg" alt="My test image">


</body>