h1 {
    color: rgb(182, 107, 37);
  }
  
  p {
    color: rgb(169, 196, 212);
    font-weight: bold;
    font-size: 150%;
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: normal;
    background-color: rgb(44, 52, 54);
    padding: 10px;
    margin: 20px;
    border-radius: 5px;
  }
  
  a {
    color: rgb(182, 107, 37);
  }
  
  li {
    color: rgb(169, 196, 212);
    font-weight: bold;
    font-size: 150%;
    font-weight: 700;
    font-style: normal;
    background-color: rgb(44, 52, 54);
    border: 3px solid rgb(182, 107, 37);
    padding: 10px;
    max-width: 500px;
    margin: 20px;
    border-radius: 10px;
  }
  
  
  body {
    font-family: "Roboto", sans-serif;
    background-color: rgb(20, 24, 26);
  }
  
  img {
    width: 100px;
    min-width: 500px;
    border: 3px solid rgb(182, 107, 37);
    border-radius: 10px;
    margin: 20px;
  }
  
  .styled {
    color: rgb(169, 196, 212);
    font-weight: bold;
    font-size: 150%;
    font-weight: 700;
    font-style: normal;
    background-color: rgb(44, 52, 54);
    border: 3px solid rgb(182, 107, 37);
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
    }
    
    .styled:hover {
      background-color: rgb(30, 37, 39);
    }
    
    .styled:active {
      background-color: rgb(72, 81, 83);
    }